.button{
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  background: #90CAF9;
  color: black;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.2s;
  min-width: 8rem;
  margin: 0.5rem 0;
}

.button:hover, .button:focus{
  outline: none;
  opacity: 0.7;
}

.button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}